# Based on https://github.com/neoforged/MDK/blob/main/src/main/resources/META-INF/mods.toml, look there for comments/documentation

modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}"
# issueTrackerURL = "https://change.me.to.your.issue.tracker.example.invalid/"

[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
# A URL for the "homepage" for this mod, displayed in the mod UI
# displayURL = "https://change.me.to.your.mods.homepage.example.invalid/"
# A file name (in the root of the mod JAR) containing a logo for display
# logoFile = "examplemod.png"
authors = "${mod_authors}"
description = '''${mod_description}'''

[[dependencies.${ mod_id }]]
modId = "forge"
mandatory = true
versionRange = "${forge_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies.${ mod_id }]]
modId = "minecraft"
mandatory = true
versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies.${ mod_id }]]
modId = "irons_spellbooks"
mandatory = true
versionRange = "[1.19.2-2.0.0,)"
ordering = "NONE"
side = "BOTH"
